.btnAgregar{
    background-color: #00a716;
    border:none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}